services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: websocket_chat
      POSTGRES_PASSWORD: websocket_chat
      POSTGRES_DB: websocket_chat
    ports:
      - "5432:5432"

  redis:
    image: redis
    ports:
      - "6379:6379"